<div class="header__logotipo-container">
	<img ui-sref="home" class="header__logotipo" ng-src="/shared/images/logotipo.jpg" alt="Logotipo" />
</div>

<section layout="column" layout-align="space-between end" layout-fill>
	<div layout="column" style="margin-right: 20px;">
		<div class="header__about-us-container" layout="row" layout-align="space-around center">
			<a class="header__about-us-link" ng-href="#/empresa">EMPRESA</a>
			<a class="header__about-us-link" ng-href="#/local">LOCALIZAÇÃO</a>
			<a class="header__about-us-link" ng-href="#/duvidas">GARANTIA</a>
			<a class="header__about-us-link" ng-href="#/fale-conosco">FALE CONOSCO</a>
		</div>

		<div layout="row" layout-align="space-between center">
	  		<div layout="row" style="padding-top: 7px;" layout-align="space-between center">
				<div>
					<a href="https://drive.google.com/file/d/0B8N-QfXPUFAjZDZGaEZfYWdrVzA/view">
						<img src="/shared/images/listapreco.png">
					</a>
				</div>

				<div layout="column" style="margin: 0 10px 0 10px;">
					<span class="header__about-us-title">LISTA DE PREÇOS</span>
					<span class="header__about-us-content">Atualizada em: 14/04/2016</span>
				</div>
			</div>
	  		<div layout="row" style="padding-top: 7px;" layout-align="space-between center">
	  			<div>
	  				<a href="#/centralatendimento">
						  <img ng-src="/shared/images/vendedores.png">
					  </a>
	  			</div>
	  			<div layout="column" style="margin: 0 10px 0 10px;">
	  				<span class="header__about-us-title">CONTATO VENDEDORES</span>
	  				<span class="header__about-us-content">Fale com Nossos Vendedores</span>
	  			</div>	
			</div>
		</div>
	</div>

	<div layout="row" class="header_social">
		<a 	class="header_social-link" 
			ng-href="https://www.facebook.com/distribuidoralemesoficial?fref=ts">
			<img class="header_social-img" src="/shared/images/facebook.png" alt="Facebook" />
		</a>
		<a class="header_social-link" ng-href="#">
			<img class="header_social-img" src="/shared/images/twitter.png" alt="Twitter" />
		</a>
		<a class="header_social-link" ng-href="#">
			<img class="header_social-img" src="/shared/images/instagram.png" alt="Instagram" />
		</a>
		<a class="header_social-link" ng-href="#/centralatendimento">
			<img class="header_social-img" src="/shared/images/whatsapp.png" alt="Whatsapp" />
		</a>
	</div>
</section>
