<style>
	footer {
		width: 100%;
		border-top: 2px solid rgba(164, 164, 164, 1);
	}
</style>

<section layout="row" layout-align="space-around start" style="width: 865px; padding: 20px 0">
	<div>
		<h2 class="footer__title">Institucional</h2>
		<div layout="column">
			<a class="footer__link" href="#/empresa" target="_self">Quem Somos</a>	
			<a class="footer__link" href="#/empresa" target="_self">Histórico</a>	
			<a class="footer__link" href="#/fale-conosco" target="_self">Fale Conosco</a>			
		</div>
	</div>

	<div>
		<h2 class="footer__title">Dúvidas</h2>	
		<div layout="column">
			<a class="footer__link" href="#/duvidas" target="_self">Compra</a>	
			<a class="footer__link" href="#/duvidas" target="_self">Orçamento</a>	
			<a class="footer__link" href="#/duvidas" target="_self">Envio e Prazo</a>	
			<a class="footer__link" href="#/duvidas" target="_self">Cuidados e Garantias</a>	
			<a class="footer__link" href="#/duvidas" target="_self">Trocas e Devoluções</a>	
			<a class="footer__link" href="http://www.planalto.gov.br/ccivil_03/leis/l8078.htm" target="_self">Código de Defessa do Consumidor</a>	
		</div>
	</div>

	<div layout="column">
		<h2 class="footer__title">Central de Atendimento</h2>

		<span class="footer__content">Segunda à Sexta 09:00 às 17:00 -</span>
		<span class="footer__content">Exceto feriados</span>

		<br>

		<a align="center" style="font: italic normal normal 13px/1.4em 'noticia text',serif;color: #6F9971;" href="#/local">Ver Mapa</a>
	</div>
</section>

<section layout="row" layout-align="space-around start" style="border-top: 1px dashed rgba(0, 0, 0, 0.5);    padding-top: 20px; width: 865px;">
	<div layout-align="center center" layout="column">
		<h3 class="footer__title">Pagamento</h3>
		<div layout="column">
			<div layout="row" class="footer__bancos">
				<img src="/shared/images/bancodobrasil.png" alt="Banco do Brasil">
				<img src="/shared/images/caixaeconomica.png" alt="Caixa econômica">
				<img src="/shared/images/boleto.png" alt="Boleto">
			</div>
			<div layout="row">
				<img src="/shared/images/itau.png" alt="Itau">
			</div>
		</div>
	</div>
	<div layout-align="center center" layout="column">
		<h3 class="footer__title">Entregas</h3>
		<div>
			<img src="https://static.wixstatic.com/media/ec4353_98148d68031248b793df6b5890418e5e.jpg/v1/fill/w_134,h_62,al_c,q_80,usm_0.66_1.00_0.01/ec4353_98148d68031248b793df6b5890418e5e.webp" alt="Correios">
		</div>
	</div>
	<div layout-align="center center" layout="column">
		<h3 class="footer__title">Segurança e Garantia</h3>
		<div layout="column">
			<div layout="row" style="width: 190px;" layout-align="space-around center">
				<a href="http://www.correios.com.br/sobre-correios/acesso-a-informacao">
					<img style="width: 95px;height: 23px;" src="/shared/images/garantia-correios.png" alt="Correios">
				</a>
				<a href="http://www.reclameaqui.com.br/selo/">
					<img src="https://static.wixstatic.com/media/ec4353_b9a34623296145479a8e9ea3bb696346.jpg/v1/fill/w_85,h_45,al_c,q_80,usm_0.66_1.00_0.01/ec4353_b9a34623296145479a8e9ea3bb696346.webp" alt="Certificado">
				</a>
			</div>
		</div>
	</div>
</section>

<br><br><br>
<section>
	<div style="width: 814px; margin: 0 auto;color: #2c2c2b;">
		<p style="font-size: 11px; text-align: center;">
			<span style="font-family:open sans,sans-serif;">Copyright © 2015&nbsp;www.distribuidoralemes.com, TODOS OS DIREITOS RESERVADOS. </span>
		</p>
	</div>

	<br><br>
</section>